* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

main { 
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: rgb(237, 237, 237);
}

/* CONTAINER */
.containerMsg {
    background-color: rgb(87, 47, 47);
    padding: 40px;
    border-radius: 16px;
    width: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

/* TÍTULO */
.containerMsg h1 {
    font-size: 48px;
    color: #ffffff;
}

/* SUBTÍTULO */
.subtitle {
    color: #f1f1f1;
    font-size: 18px;
}

/* TEXTAREA */
.msgUs { 
    width: 100%;
    height: 220px;

    border-radius: 12px;
    border: none;

    padding: 16px;
    font-size: 16px;

    resize: none;
    outline: none;
}

/* BOTÃO */
.sendBtn {
    align-self: center;

    padding: 14px 40px;
    font-size: 16px;
    font-weight: bold;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    background-color: #ffffff;
    color: brown;

    transition: all 0.3s ease;
}

.sendBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
