@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body { 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ================= HEADER ================= */
header { 
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    background-color: rgb(87, 47, 47);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

/* Imagem do Coffzin */
.logo { 
    margin-top: 15px;
    width: 80px;
    height: 80px;
}

/* Menu de navegação */
.menu { 
    display: flex;
    list-style: none;
    text-transform: uppercase;
    margin-left: 20px;
    gap: 20px;
}

.menu li a { 
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 4px;
}

.menu li a:hover { 
    color: rgb(0, 0, 0);
    background-color: rgb(117, 77, 77);
    transition: .3s;
}

/* ================= MAIN ================= */
main { 
    background-color: rgb(255, 253, 253);
    width: 100%;
    min-height: 700px;
    padding-top: 120px; /* espaço para o header */
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ================= CARDS ================= */
.container { 
    display: flex;            
    flex-wrap: wrap;           
    justify-content: center;   
    gap: 20px;                 
    max-width: 1200px;
    width: 90%;
    margin: 10 auto;           
}

.card { 
    width: 300px;              
    border: 1px solid rgb(246, 236, 236);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    background-color: #fff;
    padding: 5px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Imagem do produto */
.card img { 
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Nome, descrição e preço */
.card h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.card p {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 10px;
}

.card span {
    font-weight: bold;
    font-size: 1rem;
    color: #000;
}

/* =====--====---=== CARRINHO DE COMPRAS ====---===-- */
.cart-container { 
    background-image: url("../img/products/shopCart.png");
    cursor: pointer;
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
    border: 5px solid rgb(88, 79, 79);
    position: fixed;
    right: 20px;
    bottom: 5px;
}

.hidden-cart { 
    display: none;
}



/* ---===== CARRINHO DE COMPRAS ---====---====*/
.shopCart { 
    background-color: rgb(88, 79, 79);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 12px;
    position: fixed;
    top: 40%;
    height: 55%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center; 
    display: none;
}

 th { 
    color: rgb(221, 204, 204);
    text-align: center;
}

td { 
    text-align: left;
    color: rgb(255, 255, 255);
      padding: 3px 15px;
    font-weight: 500;
    border-bottom: 1px solid rgb(221, 204, 204);
}

#total { 
    color:rgb(221, 204, 204);
}

/* Botão de fechar o carrinho */
#closeShopCart { 
    background-color: transparent;
    color: rgb(255, 255, 255);
    position: absolute;
    right:0;
    border: none;
    padding: 20px;
    cursor: pointer;
}

