@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 500px;
  width: 100%;
  height: 400px;
  background-color: rgb(60, 29, 29);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.container h1 {
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

/* Imagem do login */
.container .login-img {
  width: 90px;
  
}

/* Formulario */
.login-form {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.container input { 
  width: 100%;
  height: 40px;
  padding-top: 5px;
  border-radius:  10px;
  border: 1px solid rgb(248, 246, 246);
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
}

/* Botão de login */
.container button {
  margin-top: 10px;
  width: 70%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color:  rgb(114, 66, 66);
  color:  rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
}

.container button:hover {
  background-color: rgb(55, 35, 35);
  border: 1px solid rgb(114, 66, 66); ;
  transition: 0.3s;
}

/* Criar conta */
.container span {
  padding: 10px;
  color: rgb(228, 228, 228);
}

.container .forgetPass {
  align-self: flex-start;
  margin-left: 15%;
  color: rgb(255, 254, 254);
  cursor: pointer;
}

input::placeholder,
textarea::placeholder {
    text-align: left;
      padding: 20px;
}
